/* CSS Document */

body {
  background-color: gray;
  font-family: Times New Roman, sans-serif;
  font-size: 16px;
  text-align: left;
}

.container-body {
  background-color: white;
  background-image: url(images/bg.jpg);
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  width: 800px;
  border: 3px solid black;
}

.col1 {
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
  width: 756px;
  /*border: 2px solid #aaa;*/
  text-align: justify;
}

.col1-r {
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
  width: 756px;
  /*border: 2px solid #aaa;*/
  text-align: right;
}

.foot {
  margin: 20px auto;
  padding: 0px 20px 0px 20px;
  width: 756px;
  /*border: 2px solid #aaa;*/
  font-style: italic;
  clear: both;
}

.col2-1 {
  float: left;
  clear: left;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
  width: 206px;
  /*border: 2px solid #aaa;*/
}

.col2-2 {
  float: right;
  clear: right;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
  width: 506px;
  /*border: 2px solid #aaa;*/
  text-align: justify;
}

.introimage {
  background-color: white;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  width: 160px;
  /*border: 2px solid #aaa;*/
}

h1 {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 34px;
  color: #202020;
}

h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #202020;
}

h3 {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 18px;
  color: #202020;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

hr {
  margin-top: 0px;
  margin-bottom: 5px;
}

ul {
  margin: 0px;
  padding-left: 30px;
}

.ul-decimal {
  margin: 0px;
  list-style: decimal;
}

a:link, a:visited {
  color: #000080;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}
